<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Fajt - controller</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div id="input">
      <div>
        <button id="UP">&uarr;</button>
      </div>
      <div>
        <button id="LEFT">&larr;</button><button id="RIGHT">&rarr;</button>
      </div>
      <div>
        <button id="DOWN">&darr;</button>
      </div>
    </div>
    <script src="/javascript/input.js"></script>
  </body>
</html>
